body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

.image1 {
    position: relative;
    height: 100vh;
    align-items: center;
    width: 100%;
}

.content {
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: inherit;
    margin-left: 36%;
    margin-top: 25%;
    font-family: arial black;
}

.content span.img-txt {
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    font-family: arial black;
    display: block;
}

.findRecipeButton {
    width: 200px;
    height: 60px;
    margin-top: 10px;
    margin-left: 28%;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.content1 span.img-txt {
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    text-align: center;
    height: 100px;
    width: 100%;
}

.image2 {
    position: relative;
    height: 100vh;
    width: 50%;
}

.image3 {
    position: relative;
    height: 100vh;
    width: 50%;
}

.imageRow {
    display: flex;
}

.bar {
    display: inline-block;
    width: 100%;
    height: 80px;
    align-items: center;
    font-family: arial black;
    justify-content: space-between;
}

.menuOptions {
    font-size: 30px;
    color: white;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.main {
    padding-right: 1000px;
    padding-top: 1%;
    justify-content: space-between;
}

.side {
    padding-top: 10%;
}

.bar a {
    color: inherit;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.aboutContainer {
    background-color: lightgray;
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid black;
}

.aboutCooking {
    display: block;
    width: 200px;
    text-align: center;
    margin-right: 15%;
    margin-left: 12%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.aboutFridge {
    display: block;
    width: 200px;
    text-align: center;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.aboutProfits {
    display: block;
    width: 200px;
    text-align: center;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.header {
    padding-left: 20%;
    display: block;
}

.caption {
    padding-left: 30%;
    display: flex;
    font-weight: bold;
}

.paragraph {
    display: block;
    width: 300px;
    text-align: center;
}

.png {
    width: 200px;
    height: 200px;
}

.slide1 {
    width: 100%;
    height: 900px;
    filter: brightness(50%);
}

.searchBar {
    display: block;
    width: 100%;
    text-align: center;
}

.label {
    display: block;
}

.text-muted {
    display: block;
}

.mb-3 {
    display: flex;
}

.foodImg {
    width: 50px;
    height: 50px;
}

.searchPage {
    display: block;
    align-items: center;
    width: 100%;
}

.submitButton {
    margin-left: 47.5%;
    width: 80px;
}

.listofRecipes {
    display: inline-block;
    width: 100%;
    /* overflow: hidden; */
    /* justify-content: space-between; */
    /* background-color: blue; */
}

.recipeInfo {
    display: block;
    /* margin-right: 2%; */
    border: 3px solid black;
    margin-top: 2%;
    /* margin-left: 2%; */
    justify-content: space-between;
    width: 317px;
    height: 280px;
}

.recipeContainer {
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 2px;
}

.title {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}